body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: lawngreen;
    background-color:lightblue;
    background-origin: padding-box;
    background-image: url("/imagenspizzaria/fundo1.jpg"); 
         
}

h1{
    font-size: x-large;
    margin-top: auto;
    font-family: inherit;
    box-shadow: rgb(218, 139, 165);
    text-align: center;
}

section{
padding-left: 20px;
padding-top: 20px;
margin: 20px;

}
